body {
  user-select: none;
}
/************************ Header**********************************/
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding: 0;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  width: 100%;
  height: 61px;
  z-index: 2000;
}
.Logo {
  align-items: center;
  display: flex;
  background-color: white;
}
.top-left-part{
  width : 240px;
  float: left;
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  align-self: center;
  transition: width 0.2s ease;
}

.light-logo {
  width: 33px;
  margin-left: 10px;
}
.light-text {
  padding-left:10px;
  width: 152px;
}

.top-right-part{
  margin-left: auto;
  width: 300px;
  display : flex;
  justify-content: space-between;
  height: 60px;
  margin-right: 20px;
}
.top-right-part
.ant-menu-light.ant-menu-horizontal .ant-menu-item-selected::after,
.ant-menu-light.ant-menu.ant-menu-horizontal .ant-menu-item-selected::after,
.ant-menu-light.ant-menu-horizontal .ant-menu-submenu-selected::after,
.ant-menu-light.ant-menu.ant-menu-horizontal .ant-menu-submenu-selected::after{
  border-bottom-width: 0px;
  border-bottom-color: #1677ff;
 }

 .custom-dropdown-menu{
  position: fixed;
  top: 20px;
}

.custom-dropdown-menu.mail{
  max-width: 300px;
}
.custom-dropdown-menu .mail-desc{
  font-size: 12px;
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  overflow: hidden; /* Hide overflowed content */
  text-overflow: ellipsis; /* Display ellipsis (...) when content is overflowed */
  max-width: 250px;
}
.mailIcon{
  min-width: 30px !important;
}
.custom-dropdown-menu .app-desc{
  font-size: 12px;
}
.mailLink{
  height: 85px;
  width: 300px;
}
.menuRoundIcon{
  border-radius:50%;
}
.custom-dropdown-menu .AppTitle{
  font-size: 14px;
  font-weight: bold;
  /* font-weight: 700; */
}
.custom-dropdown-menu .user{
  position: fixed;
  top: 0px;
}
.userMenu{
  cursor: 'pointer'
}

/*********************************** Sider *****************************************/

.sider-selector {
  margin: 10px;
}
.sider-selector.rs-picker-menu.rs-picker-select-menu{

  z-index: 3;
}

/************************************Content*****/

/* **********************************Main **********************************/
.MainContainer{
  padding-bottom: 100px;
}
.active-title {
  display: flex;
  align-items: center;
}
.title-icon {
  font-size: 24px;
}
.title-text {
  font-size: 24px;
  margin-left: 8px;
}
.title-Row {
  padding: 15px 10px 9px 10px;
}
.WhiteBox{
  background-color: white;
  border: 1px solid #e8ecee;
  margin-bottom: 20px;
  padding:25px;
}
.CustomButton{
  font-size: 0px!important;
  width:20px !important;
  height:20px !important;
  padding: 0 !important;
}
.FilterSelDiv{
  min-height: 50px;
  padding-left:20px;
  padding-right: 20px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.2px solid #eee;
}
.MainTab.ant-tabs-card.ant-tabs-top >.ant-tabs-nav{
  margin-bottom: 0px;
}
.MainTab.ant-tabs-card.ant-tabs-top >.ant-tabs-nav .ant-tabs-tab{
  border-radius: 0;
}
.MainTab.ant-tabs-card.ant-tabs-top >.ant-tabs-nav .ant-tabs-tab-active{
  border-bottom: 1px solid #1677ff !important;
}
.MainTab.ant-tabs-card.ant-tabs-top >.ant-tabs-nav .ant-tabs-tab+.ant-tabs-tab{
  margin-left: 0px;
  border : none;
}

.PerformanceDiv{
  padding : 20px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.FilterSelectorDiv{
  max-height: 300px !important;
  width : 100%;
  overflow: auto;
  color: #263238;
  display: inline-block;
  transition: height 0.2s ease;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}
/****************************************************************************************************/

/*************                                MainTab1                              ***********/  

/****************************************************************************************************/

/*****************************************     Slector   ********************************************/
.selectedDateDescription {
  border: 1px solid rgba(120, 130, 140, 0.13);
  border-left: 3px solid #ffdc29 !important;
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 12px;
  background-color: #fffcee;
}
.ant-space-item .ant-input {
  padding: 6px 12px;
  font-size: 13px;
}

.ant-select .ant-select-selector {
  height: 34.42px !important;
  align-items: center;
}

.ant-select-selector .ant-select-selection-item {
  font-size: 13px;
}

.ant-select .ant-select-selector {
  padding: 6px 12px !important;
}

.rs-picker .rs-picker-toggle {
  padding: 6px 12px !important;
}

.rs-picker-toggle .rs-btn .rs-btn-default .rs-btn-sm {
  padding: 7px 12px;
}

.rs-stack-item {
  font-size: 13px !important;
  font-weight: 600;
}

.rs-picker-toggle {
  height: 34.42px;
}


/***********************************************************************************************************/
/*******************************            LineChartDiv        ********************************************/
/***********************************************************************************************************/

.LineChartDiv{
  padding : 10px;
  border: 1px solid #e8ecee;
  box-shadow: 0 1px 4px 0 rgb(21 27 38 / 8%);
}

/******************************************    Swtich    ***************************************************/

.MainTabSwitch{
  display : flex;
  border-radius: 0 !important;
  width:100px;
  height: 25px;
  padding-top: 2px;
}
.MainTabSwitch.ant-switch{
  counter-reset: switch-content;
}
.MainTabSwitch.ant-switch .ant-switch-handle::before{
  width:40px;
  height: auto;
  border-radius: 0;
  font-size: 10px;
  bottom: auto;
  left:-25px;
  counter-increment: switch-content;
  content: "test";
  display: inline-block;
  animation: switch-animation 0.5s linear infinite alternate;
}
.MainTabSwitch.ant-switch .ant-switch-handle::after{
  width:40px;
  height: auto;
  border-radius: 0;
  font-size: 10px;
  bottom: auto;
  content: "aaaaa";
  display: none;
}
@keyframes switch-animation {
  0% {
    display: inline-block;
  }
  50% {
    display: none;
  }
  100% {
    display: inline-block;
  }
}
/**********************************************************************************************/
/********************                      필터                             *******************/
.FilterBox{
  padding: 18px 25px;
  border-top: 0.2px solid #eee;
}
.AdFilterTagsDiv{
  max-width: 55%;
  min-width: 55%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
}
.MdFilterTagsDiv{
  max-width:40%;
  min-width:40%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.FilterTags{
  
  border-radius: 12px !important;
}

/* 선택 광고주 input */
.ant-dropdown-menu-title-content .Searcher {
  border: none;
  border-bottom: 1px solid #eee;
  width: 180px !important;
  margin-right: -10px;
  font-size: 12px;
}

.ant-dropdown-menu-title-content .Searcher::placeholder {
  color: black;
}

.ant-dropdown-menu .ant-dropdown-menu-item {
  padding-left: 30px !important;
  padding: 8px !important;
  border-bottom: #eee;
}

.ant-checkbox-wrapper {
  font-size: 12px !important;
}

.ant-checkbox-group .ant-checkbox-wrapper {
  padding: 8px !important;
  border-bottom: 1px solid #eee;
}

.FilterDiv {
  border: 1px solid #eee;
  max-height: 300px !important;
  overflow: auto;
  color: #263238;
}

.Filterdisp {
  width: 210px;
  cursor: pointer;
}

/************************************************** Content ************************************/
.ant-layout-content {
  padding: 0px 25px 15px 25px !important;
}

/*************************************************** Drawer 스타일 ************************************/
.ant-drawer-content-wrapper {
  box-shadow: none !important;
  margin-top: 88px;
  height: 300px;
  /* 경계선 구분을 위한 임시 테두리*/
  border: 1px solid;
}
.ant-drawer-header,
.ant-drawer-body,
.ant-drawer-footer {
  background: #f5f5f5;
}
.FilterAdd {
  background: #fff;
}
.DrawerContent {
  background: #fff;
}
.menuTitleIcon{
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 8px;
}
/********************************************** Calendar*********************************************/
/* 달력 스타일 */
.rs-picker-daterange-header {
  visibility: hidden;
  padding: 0px 0px !important;
  height: 0;
}
.rs-picker-daterange-predefined {
  height: 330px !important;
}
.rs-picker-daterange {
  width: 235px;
}
.rs-picker-toolbar {
  justify-content: flex-end;
}
/**
  ************************
  AdPerformanceRange
  기간별 광고 성과
  ********************************
  *
  *
  */
/* .AdPerformanceDiv .AdPerformanceTable {
  border: 1px solid #e4e7ea;
  font-size: 12px;
  width: 100%;
  margin-bottom: 10px;
}

.AdPerformanceDiv .AdPerformanceTable > tr > th {
  border: 1px solid #e4e7ea;
  background-color: #f7fafc !important;
  padding: 8px;
  width: 130px;
}

.AdPerformanceDiv .AdPerformanceTable > tr > td {
  border: 1px solid #e4e7ea;
  padding: 8px;
} */

/* 선택했을 때 좌측 경계선 테두리 미적용 되는 부분 수정. */
.compare
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
  background-color: #4fd9bc;
}





/* ScoreCard */
.DefaultCheckedKeysHovered {
  cursor: not-allowed;
}
.ScoreCardTable,
.ScoreCardRow,
.ScoreCardCol {
  border: 1px solid #dbdbdb;
  border-collapse: collapse;
  text-align: center;
}
.ScoreCardTable {
  width: 80%;
  height: 100px;
  background-color: #f4f4f4;
}
/* ScoreCard */
.ScoreCardTable,
.ScoreCardRow,
.ScoreCardCol {
  border: 1px solid #dbdbdb;
  border-collapse: collapse;
  text-align: center;
}
.ScoreCardTable {
  width: 80%;
  height: 100px;
  background-color: #f4f4f4;
}
/* ScoreCardChart */
.ScoreChartDiv {
  padding:20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.ScoreCardContainer{
  padding:0 5 5 5
}

.ScoreChartCard {
  direction: vertical;
  margin-bottom: 15px;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  height: 178px;
  width: 15%;
}
.ScoreChartTitle {
  margin: 0;
  margin-top:30;
  font-size: 15px;
}
.ScoreChartValueDiv {
  text-align: right;
}
.ScoreChartValue {
  text-align: right;
  font-size: 30px;
}
.ScoreChartPercent {
  text-align: right;
  font-size: 11px;
}
.ArrowUp {
  color: red;
}
.ArrowDown {
  color: blue;
}

.DropDownLayer {
  border: 1px solid #ccc;
  background-color: white;
}
.DropDownHeader {
  padding: 5px;
  background-color: #e1e3ec;
  display: flex;
  justify-content: space-between;
}

.DropDownCloseContainer {
  display: flex;
  align-items: center;
}
.AreaChart{
  padding-top: 1px;
}
.ScoreCardSelector{
  max-height: 300px !important;
  width : 100%;
  overflow: auto;
  color: #263238;
  display: inline-block;
  transition: height 0.2s ease;
}
.ScoreCardSelectorTable{
  width: 100%;
  text-align: justify;
}
.ScoreCardSelectorTable .th{
  width: 10%;
}
.ScoreSelectorDiv{ 
  width : 100%;
  /* padding-top : 10px;
  padding-bottom : 10px;
  display : flex;
  border-top : 1px solid black;
  border-bottom : 1px solid black */
} 

.ico-script {
  background: #4caf50;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  font-size: 11px;
  color: #fff;
  font-weight: normal;
  display: inline-block;
  margin-left: 3px;
  vertical-align: middle;
  line-height: 14px;
  text-align: center;
}
.ScoreCardSelector .ant-radio-button-wrapper:first-child{
border-start-start-radius: 0px !important;
border-end-start-radius: 0px !important;
}
.ScoreCardSelector .ant-radio-button-wrapper:last-child{
  border-start-end-radius: 0px;
  border-end-end-radius: 0px;
}
.ScoreButton{
  font-size: 12px;
  user-select: none;
  margin-bottom: 10px;
}
/****************************************************************************************************/

/*************                                ADResultTable                               ***********/  

/****************************************************************************************************/
.ADResultTable
  .ant-table-cell{
  border:1px solid #cccccc;
}



/****************************************************************************************************/

/*************                                MDResultTable                               ***********/  

/****************************************************************************************************/
.MDresults .adPro{
  border-left: none !important;
}
.MDresults .ant-table-row-expand-icon-cell {
  border-right: none  !important;
  width: 80px;
}
.MDresults .totalRow td{
  border-top : double;
  text-align: end;
}
.MDresults .ant-table-thead th,
.MDresults .ant-table-thead td{
  border-bottom: 2px solid black !important;
}



/****************************************************************************************************/

/*************                                MainTab1Footer                              ***********/  

/****************************************************************************************************/
.fotterChartCompdiv{
  display : flex;
  height: 400;
}

.fotterChartCompdiv .fotterMDPiechart,.fotterBarchart,.fotterDevPiechart{
  border : 1px solid #e8ecee;
  margin-right :20px;
}
.fotterChartCompdiv .fotterBarchartTitle,.fotterMDPiecharttitle,.fotterDevPiechartTitle{
  padding-top: 30px;
  padding-left: 20px;
}

/****************************************************************************************************/

/*************                                ReportPage                              ***********/  

/****************************************************************************************************/

.ProdTable {
  border-collapse: collapse;
  width: 100%;

}
.ProdTable thead th {
  border:0.5px solid #e4e7ea;
  border-bottom : 0.5px solid black;
}
.ProdTable tbody td {
  padding: 8px;
  font-size: 12px;
  text-align: center;
  border: 1px solid #e4e7ea;
}
.ProdTable tbody .BlankTd {
  border-bottom: 1px solid white;
}
.total {
  border-top: 1px double black !important;
}
.ProdTable tbody .BottomTd {
  font-size: 12px;
  text-align: right;
  border:0.5px solid #e4e7ea;
}
.ProdTable tbody .BlankProdTd{
  border-bottom : 1px solid #e4e7ea;
}
.ProdTable tbody .AdTd{
  border-top :  1px solid #e4e7ea !important;
}
.arrows-container {
  display: inline-grid;
  text-align: center; 
  vertical-align: middle;
}
.arrow-up {
  display: block; 
  color: #757575; /* You can adjust the color as needed */
  margin-bottom: -5px
}

.arrow-down {
  display: block; 
  color: #757575; /* You can adjust the color as needed *//* Add some spacing between the arrows */
}
